#large {
    width: 400px;
    height: 400px;
    overflow: hidden;
    background-color: #282828;
}

#small {
    width: 400px;
    height: 150px;
    overflow: hidden;
    background-color: #282828;
}

div {
    height: 100px;
    width: 100%;
    text-align: center;
}

.bottomNav {
    height: 50px;
    width: 100%;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
    height: 100vh;
    width: 100%;
}

.inputIcon {
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;
}

br {
    display: block;
    content: "";
    margin-top: 5px;
}


input {
    width: 60%;
    height: 30%;
}

h1 {
    color: white;
    font-family: "Calibri Light", monospace;
    font-weight: lighter;
}

p {
    color: white;
    font-family: "Calibri Light", monospace;
    font-size: large;
    font-weight: lighter;
}

a:link {
    color: white;
    background-color: #404040;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-family: "Calibri Light", monospace;
    font-size: medium;
    font-weight: lighter;
    display: inline-block;
}

.saveButton {
    background-color: #282828;
    border-radius: 12px;
    padding: 3px 10px;
    color: white;
    border: 2px solid #8024e8;
    position:absolute;
    bottom: 0;
    right: 0;
}

.saveButton:hover {
    background-color: #8024e8;
    color: white;
}